.dn {
    display: none !important;
}

.mainDiv {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    background-color:blueviolet;
    background-image: linear-gradient(to top left, black, darkblue);
    /* height: 200px; */
    width: 50%;
}

.leftBody { 
    margin: 5% 0 0 5%;
}

.title {
    font-size: 40px;
    color: whitesmoke;
    font-weight: 600;
}

.links {
    font-size: 16px;
    color: skyblue;
    font-weight: 400;
    display: flex;
}

.links label {
    margin: 20px 20px 0 0;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.rightBody {
    height: 70vh;
    background-color:white;
}

.registForm {
    margin: 15%;
}

.jc {
    display: flex;
    flex-direction: column;
}

.registForm .welcomeText label:first-child {
    font-size: 24px;
    margin: 20px 0;
    font-weight: 700;
}

.registForm .welcomeText label:last-child {
    font-size: 16px;
    margin-bottom: 20px;
}

.progressBar {
    display: flex;
    flex-direction: row;
}

.progressBar :first-child {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid cornflowerblue;
    width: 25%;
    margin: 0 10px 20px 0;
}

.progressBar :last-child {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid rgb(218, 222, 224);
    width: 25%;
    margin-bottom: 20px;
}

.inputBox label {
    margin-bottom: 10px;
    font-size: 20px;
    color: cornflowerblue;
}

.inputBox input {
    margin-bottom: 30px;
    border: none;
    border-radius: 0%;
    border-bottom: 2px solid cornflowerblue;
    
}

.inputBox input:focus {
    outline: none;

}

.linkDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.linkDiv a {
    text-decoration: none;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginBtn {
    background-color: rgb(198, 237, 253) !important;
    color: cornflowerblue;
    font-weight: 500 !important;
    padding: 10px 50px !important;
}

.loginBtn:hover {
    background-color: cornflowerblue !important;
}

.rightFooter {

    height: 30vh;
    background-color: rgb(236, 236, 236);
}